
@{
    ViewBag.Title = "SearchResponse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="title">Cluster Web Searcher</h2>
<div class="request">
    @using (Html.BeginForm("SearchResponse", "Search", new { group = 1 }, FormMethod.Get))
    {
        <input type="text" size=140 lang=100 placeholder="Поиск..." name="query" />
        <input type="submit" value="Search">
    }
</div><br><br>
<div class="results">
    @if (clusters.length > 0)
    {
        foreach (var cluster in clusters)
        {
            <div class="cluster">
            {{ cluster.tags|join:", " }}
            <a href="javascript:show_hide('@cluster.id')">show/hide</a><br>
            <div id="@cluster.id">
            @foreach (var result in cluster.results)
            {
                <div class="result">
                <a href="@result.url" target="_blank">@result.title</a>
                <br>@result.snippet<br>
            </div>}
        </div>
    </div>
        }
    }
    else
    {
            <span class="noresults">"К сожалению, результаты не найдены :("</span>
    }
</div>



