
@using Yandex.XML.Search;
@using Clustering_research_tool;
@{
    ViewBag.Title = "Результаты";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Cluster_words = ViewData["clusterwords"] as List<List<Tags>>;
    var Cluster_results = ViewData["clusterresults"] as List<List<YaSearchResult>>;
    var found_docs_human = ViewData["found"] as string;
    var error_code = ViewData["error"] as string;
    var correct = ViewData["correct"] as string;
}
<br />
@{Html.RenderPartial("Search");}
@if (!Convert.ToBoolean(correct))
{ <br /><span>Задан пустой поисковый запрос</span>
}
else
{
<br />@error_code<br />
<a href="http://www.yandex.ru"><img src="~/Content/Images/yandex-for-white-background.png" /></a> @found_docs_human<br />
if (Cluster_results == null && Cluster_words == null)
{
    <span class="noresults">К сожалению, по запросу ничего не найдено :(</span>
}
else
{<div class="response">
        @for (int i = 0; i < Cluster_words.Count; i++)
        {
            <div class="cluster">
                <div class="tags">
                    <b>@Cluster_words[i][0].GetTag;</b>
                    @for (int j = 1; j < Cluster_words[i].Count; j++)
                    {
                        @Html.Raw(", ")
                        <b>@Cluster_words[i][j].GetTag;</b>
                    }
                </div>
                [<a href="javascript:show_hide(@i)">show/hide</a>]<br />
                <div class="resultlist" id="@i">
                    @foreach (YaSearchResult result in Cluster_results[i])
                    {
                        <br /><div class="result">
                            @result.Position <h5><a href="@result.DisplayUrl" class="title">@result.Title</a></h5><br />
                            <span class="desc">@result.Description</span><br />
                            <a href="@result.Domain">@result.Domain</a><br />
                        </div>
                    }
                </div>
            </div>
        }
    </div>}
}






